body{
    display: flex;
    height: 90vh;
    align-items: end;
    justify-content: center;
    background-color: #363232;
    position: relative;
}


input{
    position: absolute;
    width: 82%;
    height: 40%;
    align-items:start;
    justify-content: start;
    font-size: 12em;
    margin-bottom: 320px;
    background-color: rgb(104, 102, 102);
    border: NONE;
    border-radius: 50px;
    padding-left: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 10px 10px black;
}

#main{
    width: 84%;
    height: 43vh;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 5px rgb(255, 255, 255);
    padding-left: 18px;
    padding-top: 6px;
}


.extrapart{
    width: 13%;
    height: 4vh;
    background-color: black;
    margin-top: -20px;
    box-shadow: 0px -10px 15px -5px rgb(255, 255, 255);
    margin-left: 750px;
    border-radius: 35px 35px 0px 0px;
}


.extrapart2{
    width: 45%;
    height: 3vh;
    background-color: black;
    margin-top: 0px;
    box-shadow: 5px 15px 15px 0px rgb(255, 255, 255);
    margin-left: 200px;
    border-radius: 0px 0px 30px 30px;
}


button{
    width: 3.5vw;
    height: 6vh;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    color: white;
    font-size: 0.8em;
    margin-bottom: 5px;
}


button:hover{
    background-color: rgb(66, 66, 66)
}


.largetext{
    font-size: 0.4em;
    margin: 0px;
    padding: 0px;
}

.dell{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
}


.dell:hover{
    color: orange;
    transition: 0.5s;
}

#alphabet{
    background-color: rgb(77, 70, 70);
}

#alphabet:hover{
    background-color: rgb(24, 23, 23);
}

